<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="localisationResourcesSection"
                 type="Aliencube.Utilities.LocalisationResourcesManager.Configuration.LocalisationResourcesSection, LocalisationResourcesManager.Configuration"
                 requirePermission="false" />
    </configSections>

    <!-- Use this, if you want to separate the configuration from web.config or app.config -->
    <localisationResourcesSection configSource="Config/LocalisationResourcesSection.config" />

    <!-- Use this, if you want to include the configuration into web.config or app.config -->
    <localisationResourcesSection>
        <resources>
            <clear />
            <add locale="en" src="/Localisation/Resource.en.xml" />
            <add locale="ko" src="/Localisation/Resource.ko.xml" />
        </resources>
    </localisationResourcesSection>
</configuration>